@media (max-width: 1170px) {}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list>li {
    padding: 10px 0;
  }

  .menu__sub-list {
    transform: translate(0px,10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease;
  }
}